<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jadwal Shalat</title>
	<link rel="stylesheet" href="css/normalize.min.css" />
	<!-- <link rel="stylesheet" href="js/owlcarousel/assets/owl.carousel.min.css" /> -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">
	<!-- <link rel="stylesheet" href="js/owlcarousel/assets/owl.theme.default.min.css" /> -->
	<link rel="stylesheet" href="css/styles.css" />
</head>
<body>
	<div class="mycontainer p-0">
		<div class="row first">
			<div class="col col4">
				<div class="masehi mybox"></div>
				<div class="hijriah mybox"></div>
			</div>
			<div class="col col2 text-center">
				<div class="middle1"></div>
				<div class="middle2"></div>
				<div class="middle3">
					TZ: <span class="tz-offset"></span> | 
					LAT: <span class="latitude"></span> | 
					LNG: <span class="longitude"></span> | 
					ALT: <span class="altitude"></span>
				</div>
			</div>
			<div class="col col4">
				<div class="countdown-event mybox"></div>
				<div class="mybox desc-container"><span class="desc"></span></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="row super-block">
			<div class="row second">
				<div class="second-block">
					<div class="col7 myprayer">
						<div class="prayer-title">IMSAK</div>
						<div class="prayer-time IMSAK"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">SUBUH</div>
						<div class="prayer-time SUBUH"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">SYURUQ</div>
						<div class="prayer-time SYURUQ"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">ZHUHUR</div>
						<div class="prayer-time ZHUHUR"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">ASHAR</div>
						<div class="prayer-time ASHAR"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">MAGHRIB</div>
						<div class="prayer-time MAGHRIB"></div>
					</div>
					<div class="col7 myprayer">
						<div class="prayer-title">ISYA</div>
						<div class="prayer-time ISYA"></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div class="row third">
				<div class="wallpaper">
					<div class="slide-container owl-carousel owl-theme">
					</div>
					<div class="running-container">
						<div class="running-text"></div>
						<div id="fullscreen-button" onclick="toggle_fullscreen()">
							<svg viewBox="0 0 24 24">
								<path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 
								7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
							</svg>
							<svg viewBox="0 0 24 24">
								<path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 
								11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
							</svg>
						</div>
					</div>
				</div>
				
				<div class="row four">
					<div class="row">
						<div class="footer1">Versi : <%= app.version %></div>
						<div class="footer2 appname"> <%= app.name %> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer"></div>
	
	<!--fix problem : google chrome update will not autoplay audio/video-->
	<iframe src="audio/silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
	<audio id="player"  >
		<source src="audio/beep.mp3" type="audio/mp3">
	</audio>
	
	<!-- <script src="js/jquery-3.3.1.min.js"></script> -->
	<script src="js/moment-with-locales.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	<script src="js/moment-hijri.js"></script>

	<script src="js/PrayTimes.js"></script>
	<!-- <script src="js/jquery.marquee.min.js"></script> -->
	<script src="//cdn.jsdelivr.net/npm/jquery.marquee@1.6.0/jquery.marquee.min.js" type="text/javascript"></script>
	<!-- <script src="js/owlcarousel/owl.carousel.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/owl.carousel.min.js"></script>
	<script src="js/timer.js"></script>

	<% if (app.autoLocation) { %>
	<script>
		if ("geolocation" in navigator){ //check Geolocation available 
				navigator.geolocation.getCurrentPosition(function(position){
					setting.latitude = position.coords.latitude;
					setting.longitude = position.coords.longitude;
					setting.altitude	 = position.coords.altitude!==null?position.coords.altitude:setting.altitude;
					setting.timezone = moment().utcOffset() / 60;
				},
				function error(msg) {
					//do nothing
				},
				{maximumAge:10000, timeout:5000, enableHighAccuracy: true});
			}else{
				//console.log("Geolocation not available!");
			}
	</script>
	<% } %>

	<script>
		moment.locale('id'); 
		
		$('.IMSAK').text(times.imsak);
		$('.SUBUH').text(times.fajr);
		$('.SYURUQ').text(times.sunrise);
		$('.ZHUHUR').text(times.dhuhr);
		$('.ASHAR').text(times.asr);
		$('.MAGHRIB').text(times.maghrib);
		$('.ISYA').text(times.isha);
		//console.log(times);			
		$('.tz-offset').text(offsetIcon+setting.timezoneOffset);
		$('.latitude').text(setting.latitude);
		$('.longitude').text(setting.longitude);
		$('.altitude').text(setting.altitude);
		$('.middle1').text(setting.nama);
		$('.middle2').text(setting.alamat);

		fetch(setting.runningTextFile)
			.then((response) => response.text())
			.then((text) => {
				$('.running-text').text(text);
        		$('.running-text').marquee({duration: setting.runningTextSpeed});
			})

		nextSchedule()

		for(a=1;a<=setting.slideImageCount;a++){
			$('.slide-container').append('<div class="item" style="background-image: url(\'img/slide/'+a+'.jpg\')"></div>');
		}

		$('.owl-carousel').owlCarousel({
			loop:true,
			items:1,
			dots:false,
			lazyLoad: true,
			autoplay:true,
			smartSpeed: 1000,
			autoplayTimeout:setting.slideInterval,
			slideTransition:'swing'
		});		

		function toggle_fullscreen() {
			if (!document.fullscreenElement) {
				document.body.requestFullscreen();
				document.body.setAttribute("fullscreen",""); 
			} else {
				document.exitFullscreen();
				document.body.removeAttribute("fullscreen"); 
			}
		}
	</script>

</body>
</html>
